* {
  margin: 0;
  padding: 0;
}

html{
  scroll-behavior: smooth;
}
.logo {
  width: 20%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.logo img {
  width: 26%;
  border: 3px solid white;
  border-radius: 50px;
  margin: 5px;
}
.navbar {
  display: flex;
  align-items: center;
  justify-content: center;
  position: sticky;
  top: 0;
  cursor: pointer;
}
.nav-list {
  width: 70%;
  /* background-color: rgb(164, 225, 240); */
  display: flex;
  align-items: center;
}

.nav-list li {
  list-style: none;
  padding: 26px 30px;
}

.nav-list li a {
  text-decoration: none;
  color: white;
  font-size: 15px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.nav-list li a:hover {
  text-decoration: none;
  color: rgba(255, 255, 255, 0.37);
}

.rightnav {
  width: 30%;
  /* background-color: aquamarine; */
  text-align: right;
  padding: 0 23px;
}

#search {
  padding: 5px;
  font-size: 16px;
  border: 2px solid grey;
  border-radius: 9px;
}

.background {
  background: rgba(0, 0, 0, 0.86) url("/img/dashbord.jpg");
  background-size: cover;
  background-blend-mode: darken;
}
/* .backgroundheader{
  background: rgb(23, 48, 39) url('/img/dashbord.jpg');
  background-size: cover;
  background-blend-mode: darken;
} */
.firstSection {
  height: 100vh;
}
.box-main {
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  max-width: 50%;
  margin: auto;
  height: 80%;
}
.firstHalf {
  width: 65%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.secondHalf {
  width: 30%;
}
.secondHalf img {
  width: 95%;
  padding: 4px 0;
  border: 10px solid white;
  border-radius: 130px;
  display: block;
  margin: auto;
}

.text-big {
  font-size: 40px;
  /* text-align: center; */
}
.text-small {
  font-size: 16px;
}
.btn {
  padding: 8px 20px;
  margin: 8px 3px;
  border: 2px solid white;
  border-radius: 8px;
  background: none;
  color: white;
  cursor: pointer;
  font-size: 20px;
}

.btn-sm {
  padding: 6px 10px;
  vertical-align: middle;
  font-size: 16px;
}
.btn-dark {
  color: black;
  border: 2px solid gray;
}

.section {
  /* height: 500px; */
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  max-width: 80%;
  margin: auto;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.section-Left {
  flex-direction: row-reverse;
}

.paras {
  padding: 10px 65px;
}

.sectionTag {
  padding: 16px 0;
}

.sectionSubTag {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.thumbnail img {
  width: 280px;
  border: 2px solid black;
  border-radius: 25px;
  margin-top: 19px;
}
.contact {
  background-color: rgb(211, 212, 212);
  height: 650px;
}
.text-center {
  text-align: center;
  padding-top: 30px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 35px;
}

.form {
  max-width: 60%;
  margin: 25px auto;
  font-size: 35px;
}

.form-input {
  margin: 14px 0;
  width: 100%;
  font-size: 19px;
  border: 2px solid gray;
  border-radius: 6px;
  padding: 5px 3px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.text-footer {
  text-align: center;
  padding: 7px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: white;
}

.burger {
  display: none;
  position: absolute;
  cursor: pointer;
  right: 5%;
  top: 15px;
}
.line {
  width: 33px;
  background-color: white;
  height: 4px;
  margin: 5px 3px;
}

@media only screen and (max-width: 1200px) {
  .nav-list {
    flex-direction: column;
  }
  .navbar {
    flex-direction: column;
    transition: all 0.7s ease-out;
    height: 478px;
  }
  .rightnav {
    text-align: center;
  }
  .box-main{
    flex-direction:column-reverse;
    max-width: 100%;
  }
  #search {
    width: 100%;
  }
  .burger {
    display: block;
  }
  .h-nav-resp {
    height: 72px;
  }
  .v-class-resp {
    opacity: 0;
  }
  .section{
    flex-direction: column-reverse;

  }
  .text-big{
    text-align: center;
  }
  .text-small{
    text-align: center;
  }
  .button{
    text-align: center;
  }
  .paras{
    padding: 0px;
  }
}